<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign in page</title>

    <link href="../static/signin.css" rel="stylesheet">
</head>
<body>

<a href="/user/register" > Register</a>


 <form method='POST'>
          {{msg}}
          <br/>
          <br/>
           <input type="text" name="Username" placeholder="Username"/>
           <input type="text" name="Password" placeholder="Password"/>

           <input type="submit" value="sign in"/>
           </form>
           <br/>

</body>
</html>